body {
  background-color: #1d1d1d;
}

p.numerador {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: x-large;
}

.carteira {
    padding: 2em;
    height: 18em;
    width: 35em;
    margin: 2em;
    background: #424242;
    border-radius: 2em;
    box-shadow: 10px 10px 10px #191918;
}

.data-social {
    display: flex;
}

.data-input {
    margin-right: 1em;
}

ul {
    /* display: -webkit-inline-box; */
    display: flex;
    margin-bottom: 1rem;
    flex-flow: wrap;
    justify-content: center;
    margin-left: -3rem;
    list-style: none;
    /* align-content: space-evenly; */
}

.button {
    margin: 1em;
    text-align: center;
}

@media (max-width: 650px)
{
  .carteira {
    width: 27em !important;
    margin-left: 3em;
  }
}
